@charset "UTF-8";

#num-jogadores input:checked::after {color: white;}

#num-jogadores input::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#num-jogadores input:checked::before {
    background-color: rgb(13, 13, 207);
    animation: click 0.2s forwards ease-in-out;
}
@keyframes click {
    0% {width: 0px; height: 0px;}
    100% {width: 25px; height: 25px;}
}

#num-jogadores input:not(:checked)::before {animation: notclick 0.2s forwards ease-in-out;}
@keyframes notclick {
    0% {width: 25px; height: 25px; background-color: rgb(13, 13, 207);}
    100% {width: 0px; height: 0px; background-color: rgb(13, 13, 207);}
}

.start::before {
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}



.vanish {animation: vanish 0.5s ease-in-out forwards;}
@keyframes vanish {
    70% {opacity: 0;}
    100% {opacity: 0; display: none;}
}

.back-border {
    cursor: pointer;
    transform: translate(-3px, 433px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    background: white url(../imagens/back-arrow.png) no-repeat center center;
    background-size: 20px;
}

.appear-cards {animation: appear-cards 0.6s ease-in-out forwards;}
@keyframes appear-cards {
    100% {top: 120px;}
}

@keyframes winner-appear {
    0% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}

.appear-back {animation: appear-back 0.3s ease-out forwards;}
@keyframes appear-back {
    0% {
        left: 100%;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.back-action {animation: back-action 0.38s ease-in-out;}
@keyframes back-action {
    0% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    60% {
        left: 0%;
        top: 50%;
        transform: translate(-100%, -50%);
        opacity: 1;
    }
    61% {opacity: 0;}
    62% {left: 100%; opacity: 1;}
}