@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

:root {
    --shadow: 0px 0px 8px rgba(0, 0, 0, 0.522);
}

body {
    width: 100dvw;
    height: 100dvh;
    background: url(../imagens/fundo\ jogos.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 2.1em;
    padding-top: 22px;
    text-shadow: 1px 1px 4px black;
    white-space: nowrap;
}

.container-back {
    width: 100%;
    height: 40px;
    position: relative;
}

.back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: url(../imagens/left-arrow.png) no-repeat;
    background-size: contain;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    filter: invert(1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

fieldset {
    border: none;
    text-align: center;
}

fieldset#num-jogadores {
    font-size: 1.3em;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 1px 1px 4px black;
}

#num-jogadores input {
    appearance: none;
    background-color: white;
    margin-top: 15px;
    width: 32px;
    height: 32px;
    border: 14px solid white;
    box-shadow: var(--shadow);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

#i4jogadores::after {
    content: "4";
    font-size: 0.8em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
}
#i3jogadores::after {
    content: "3";
    font-size: 0.8em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#i2jogadores::after {
    content: "2";
    font-size: 0.8em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#nome-jogadores input {
    width: 50vw;
    height: 40px;
    border-radius: 18px;
    text-align: center;
    border: none;
    box-shadow: var(--shadow);
    margin-bottom: 5px;
}

.start {
    width: 180px;
    border-radius: 20px;
    border: none;
    height: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.start::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(rgb(0, 229, 255), rgb(0, 229, 255), blue, blue);
    border-radius: inherit;
}
.start::after {
    content: "PRONTO";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(100% - 7px);
    height: calc(100% - 7px);
    background-color: white;
    border-radius: inherit;
}

.container-cards {
    position: relative;
    position: absolute;
    left: 50%;
    top: 100dvh;
    transform: translateX(-50%);
    width: 270px;
    height: 410px;
    border-radius: 12px;
    border: 2px solid rgba(245, 245, 245, 0.371);
    backdrop-filter: blur(10px);
}

.card {
    width: 120px;
    height: 190px;
    color: black;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.564);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.points {
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-127%);
}

div.container-in {
    display: flex;
    justify-content: space-evenly;
}

span.pay {
    width: 20px;
    height: 20px;
    background: transparent url(../imagens/pagar.png) center center no-repeat;
    background-size: cover;
}

span.burraco {
    width: 20px;
    height: 20px;
    background: transparent url(../imagens/burraco.png) center center no-repeat;
    background-size: cover;
}

span.pontos {
    width: 20px;
    height: 20px;
    background: transparent url(../imagens/pontos.png) center center no-repeat;
    background-size: cover;
}

#card1 {
    left: 5%;
    top: 5%;
    transform: translate(-5% , -5%);
}

#card2 {
    left: 95%;
    top: 5%;
    transform: translate(-95%, -5%);
}

#card3 {
    left: 5%;
    top: 95%;
    transform: translate(-5%, -95%);
}

#card4 {
    left: 95%;
    top: 95%;
    transform: translate(-95%, -95%);
}

.nome-player {
    font-size: 1.2em;
    color: black;
    padding-top: 2px;
    line-height: 18px;
}

.input-pontos {
    width: 60%;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 12px;
    margin-bottom: 5px;
    background-color: white;
}

/* Para navegadores modernos */
.input-pontos {
    -moz-appearance: textfield; /* Remove as setinhas no Firefox */
    -webkit-appearance: none;  /* Remove as setinhas no Chrome, Safari, Edge */
    appearance: none;          /* Remove as setinhas nos navegadores compatíveis */
}

/* Remove o incremento no Firefox */
.input-pontos::-webkit-inner-spin-button,.input-pontos::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.card-shape-1 {background: white url(../imagens/coracao.png) no-repeat center center; background-size: 50%; border: 4px solid red;}
.card-shape-2 {background: white url(../imagens/flor.png) no-repeat center center; background-size: 50%; border: 4px solid black;}
.card-shape-3 {background: white url(../imagens/flecha.png) no-repeat center center; background-size: 50%; border: 4px solid black;}
.card-shape-4 {background: white url(../imagens/diamante.png) no-repeat center center; background-size: 50%; border: 4px solid red;}

.position-button2 {position: absolute; left: 50%; top: 105%; transform: translateX(-50%);}
.black-border {border: 6px solid black !important;}

.winner {
    width: 90% !important;
    height: 90% !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    animation: winner-appear 2s ease-out forwards;
}

.hide {display: none !important;}

.input-teams {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-top: 19px; 
}
.input-teams:checked {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(inherit - 2px);
    height: calc(inherit - 2px);
    background-color: blue;
}
