@charset "UTF-8";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

html {
    height: 100%;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --fundo: white;
    --buttons: rgb(30, 30, 30);
    --buttons_hover: rgb(50, 50, 50);
    --border: black;
    --display: rgb(150, 150, 150);
}

body {
    width: 100vw;
    height: 100dvh;
    background-color: var(--fundo);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 320px;
    height: 568px;
}

.container-calculator {
    width: 320px;
    margin: auto;
    position: absolute;
}

.display {
    background-color: var(--display);
    width: 98%;
    height: 120px;
    border-radius: 10px;
    margin: auto;
    margin-block: 4px;
    border: 2px solid var(--border);
    font-size: 2.2em;
    font-weight: bolder;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
}

.container-buttons {
    height: 440px;
    width: 98%;
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(6, 16%)/repeat(4, 25%);
}

button {all: unset; border: none;}

.container-buttons * {
    background-color: var(--buttons);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border);
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    user-select: none;
}

.container-buttons *:empty {background-color: var(--buttons)}
.container-buttons *:hover {background-color: var(--buttons_hover)}
.container-buttons *:active {background-color: var(--buttons)}

.js_button {background-color: var(--buttons_hover) !important;}
.js_iqual {background-color: var(--buttons) !important;}

.porcentagem {border-start-start-radius: 10px;}
.delete {
    grid-column-end: span 2;
    background: url(../imagens/backspace.png) no-repeat center center;
    background-size: 26%;
    border-start-end-radius: 10px;
}
.raiz {
    background: url(../imagens/raiz-quadrada.png) no-repeat center center;
    background-size: 45%;
}
.divisao {
    background: url(../imagens/division.png) no-repeat center center;
    background-size: 45%;
}
.sinal {
    background: url(../imagens/plus\ and\ minus.png) no-repeat center center;
    background-size: 40%;
    border-end-start-radius: 10px;
}
.igual {background-color: var(--buttons_hover); border-end-end-radius: 10px;}
.menos, .mais, .virgula, .igual{font-size: 2em;}